<div>
<p>
	Written by Anish Nath
<p>
    <p>
        AngularJS and Twitter Bootstrap for front end.
    </p>
    <p>
      Application is Doing currently
    </p>
    <p>
     <ol>
    <li>show a to-do list</li>
    <li>allow to-do list manipulation via adding / removing / editing entries</li>
    <li>entries can have due dates and priorities assigned</li>
    <li>there should be way to sort items via name, due date and priority</li>
    <li>entry can be marked as complete</li>
    <li>backend API should be designed using RESTful approach</li>
	</ol>
    </p>
    <p>
     Application is Not Doing currently
     <font color="red">
      <ol>
       <li>system should support authentication and authorization</li>
       <li>here should be a user signup feature</li>
       <li>tests should be provided for backend and front-end</li>>
      </ol>
    </p>
    <div>
      <b>By Anish emal an2508191@gmail.com</b>
    </div>
</div>
